.homeContainer {
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.homeHeader {
    width: 100vw;
    height: 10vh;
    background: linear-gradient(to bottom, rgb(143, 143, 234), rgb(99, 99, 161));
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.homeFooter {
    width: 100vw;
    height: 10vh;
    background: linear-gradient(to top, rgb(143, 143, 234), rgb(99, 99, 161));
    display: flex;
    justify-content: center;
    gap: 10vw;
    align-items: center;
    color: white;
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: center;
}

.footerImg {
    height: 5vh;
    width: 5vh;
    border-radius: 5px;
}

.body {
    height: 80vh;
    display: flex;
    flex-direction: row;
    background: linear-gradient(to top, rgb(99, 99, 161), white 50%, rgb(99, 99, 161));
}

.links {
    width: 80vw;
    display: flex;
    flex-direction: column;
}

.rowOfLinks {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16vw;
    height: 40vh;
}

.link {
    height: 30vh;
    margin-top: 5vh;
}

.oneLink {
    background-color: lightblue;
    width: 30vh;
    height: 30vh;
    max-width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding-bottom: 5vh;
    border-radius: 10px;
    overflow: hidden;
    border: 10px solid rgb(115, 194, 221);
}

.linkImage {
    width: 30vh;
    height: 20vh;
    max-width: 30vw;
    min-height: 20vh;
    max-height: 20vh;
}

.linkText {
    margin-top: 2.5vh;
}

.smallAboutMe {
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(99, 99, 161);
    align-items: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    color: white;
    

}

.headshot {
    width: 15vw;
}

.smallAboutMeText {
    width: 17vw;
    font-size: 1vw;
    text-align: center;
}

