.resumeHeader{
    width: 100vw;
    height: 10vh;
    background-color: rgb(143, 143, 234);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.homeLink{
    position: absolute;
    left: 5%;
    font-size: 25px;
    color: white;
    top: 3.5%;
}

.body{
    background-color: rgb(99, 99, 161);
    display: flex;
    flex-direction: column;
    gap: 2vh;
    color: white;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    padding: 2vh;
}

.resume {
    width: 60vw;
}
